:root {
    --bg: #1B2028;
    --fg: #4B5975;
    --hl: #CCCCB5;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: "Inter", serif;
}

.inter-regular {
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.inter-medium {
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: var(--bg);
    color: var(--fg);
    font-family: "Inter", serif;
    height: 100%;
}

#root {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.zen-old-mincho-black {
    font-family: "Zen Old Mincho", serif;
    font-weight: 900;
    font-style: normal;
    text-align: center;
    font-size: 24em;
}

.zen-old-mincho-bold {
    font-family: "Zen Old Mincho", serif;
    font-weight: 700;
    font-style: normal;
}

.zen-old-mincho-semibold {
    font-family: "Zen Old Mincho", serif;
    font-weight: 600;
    font-style: normal;
}

.zen-old-mincho-medium {
    font-family: "Zen Old Mincho", serif;
    font-weight: 500;
    font-style: normal;
}

.zen-old-mincho-regular {
    font-family: "Zen Old Mincho", serif;
    font-weight: 400;
    font-style: normal;
}

#display {
    transition: opacity 1s ease-in-out;
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}


/* Button CSS by https://github.com/farfetch */
/* CSS */
.button-31 {
    background-color: var(--fg);
    padding: 1em 2em 1em 2em;
    border-radius: .75em;
    text-decoration: none;
    color: var(--hl);
}

.button-31:hover,
.button-31:focus {
    opacity: .75;
}